{% extends "./partials/template.njk" %}
{%block style %}
    <link rel="stylesheet" href="../../styles/login.css">
{% endblock %}
{%block main %}
    <main class="login">
        <h1 class="login__title">Регистрация</h1>
        {# action="/login" method="post" #}
        <form id="form" onsubmit="return sendRequest(event)">
            <div class="login__box">
                <label class="login__label" for="username">Имя: </label>
                <input class="login__input" type="text" name="username" id="username" required>
            </div>
            <div class="login__box">
                <label class="login__label" for="email">E-mail: </label>
                <input class="login__input" type="email" name="email" id="email" required>
            </div>
            <div class="login__box">
                <label class="login__label" for="password">Пароль: </label>
                <input class="login__input" type="password" name="password" id="password" required>
            </div>
            <div class="login__box">
                <label class="login__label_file" for="image">Загрузить фото</label>
                <input class="login__button_file" type="file" name="image" id="image" accept=".png, .jpg, .jpeg">
            </div>
            <div class="login__box">
                <button class="login__button" type="submit">Зарегистрироваться</button>
                <button class="login__button" type="reset">Очистить</button>
            </div>
        </form>
        <a href="/login" class="login__link">Вход</a>
    </main>
    <script src="./scripts/register-handler.js"></script>
{% endblock %}